{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
    <div><h4>You Have Searched For <span class="text-danger fw-bolder">{{query}}</span></h4></div>
</center>
<div class="container mt-2 rounded rounded-5" style="margin-botton:100px;">
    <div class="row">
        {% for i in p %}
        <div class="card mb-5" style="width:30rem;">
   <img src="{{i.image.url}}" class="card-img-top p-2" alt="..." height="250px" width="100%;">
   <div class="card-body">
       <h4 class="text-center text-center">{{i.name}}</h4>
          <h5 class="text-center">{{i.price}}</h5>
          <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary" style="positive:relative;left:38%">DETAILS</a>
       </div>
        </div>


{% endblock %}